<div>
    <div class="import"> import:// </div>
    <div class="export"> export:// </div>
    <div class="screenshot"> </div>
</div>

@code {

    public void import()
    {
        //implement
    }

    public void export()
    {
        //implement
    }

    public void screenshot()
    {
        //implement
    }

}
