@using GTFOProgress.Models.Level;
@using GTFOProgress.Common.TaskState;

@code {
    public Level level { get; set; }
}

<div class="level-card">
    <h2>@level.name</h2>
    <div class="task-completion-indicators">

        ◼

        @if (level.secondaryState != TaskState.Empty)
        {
            
        }

        @if (level.overloadState != TaskState.Empty)
        {
            
        }

        @if (level.prisonerEfficiency != TaskState.Empty)
        {
            
        }

    </div>
</div>

<style>
    .level-card {
        background: /*...*/;
        padding: 10px;
        border-radius: 5px;
        width: 150px;
    }

    .task-completion-indicators {
        display: flex;
        gap: 10px;
    }

    .task-indicator {
        width: 30px;
        height: 30px;
        background: grey;
        border-radius: 4px;
        cursor: pointer;
    }

    .task-indicator.empty {
            color: rgba(255, 255, 255, 1);
    }

    .task-indicator.incomplete {
            color: rgba(255, 255, 255, 0.5);
    }

    .task-indicator.complete {
            color: rgba(255, 255, 255, 0);
    }
</style>
