@using GTFOprogress.Models;
@using GTFOprogress.Common;

<!--##################################################################-->
<!--##################################################################-->
<!--##################################################################-->

<div class="p-2">

    <div class="flex justify-between items-end">
        <div class="">@rundown.Name</div>
        <div class="text-base text-white text-opacity-50">@rundown.Title</div>
    </div>

    <div class="border border-white h-72 w-96 p-1">
        @foreach (Tier tier in Tier.GetValues(typeof(Tier)))
    {
        <div class="columns-4">
        
        @foreach (Level level in rundown.GetTier(tier))
        {
            <div class="break-inside-avoid-column p-1 transition-transform duration-100 hover:scale-110">
                <div class="">
                    <LevelComponent level="level" />
                </div>
            </div>
        }
        </div>
    }
    </div>

</div>

<!--##################################################################-->
<!--##################################################################-->
<!--##################################################################-->

@code {
    [Parameter]
    public Rundown rundown { get; set; }

    int width = 4;
    int height = 5;

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    protected void CreateGrid()
    {

    }

}
