@using GTFOprogress.Models;
@using GTFOprogress.Common;

<!--##################################################################-->
<!--##################################################################-->
<!--##################################################################-->

<div class="rundown-card border border-white">

    <div>
        <div>@rundown.Name</div>
        <div>@rundown.Title</div>
    </div>

    <div>   
    @foreach (Tier tier in Tier.GetValues(typeof(Tier)))
    {
        <div class="columns-4">
        
        @foreach (Level level in rundown.GetTier(tier))
        {
            <div class="break-inside-avoid-column">
                <div class="basis-full text-xs">"@level.Title"</div>
                <div class="basis-full text-xl">
                    <LevelComponent level="level" />
                </div>
            </div>
        }
        </div>
    }
    </div>

</div>

<!--##################################################################-->
<!--##################################################################-->
<!--##################################################################-->

@code {
    [Parameter]
    public Rundown rundown { get; set; }

    int width = 4;
    int height = 5;

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    protected void CreateGrid()
    {

    }

}
