@using GTFOprogress.Models;
@using GTFOprogress.Common;


<div class="card container">

    @foreach (Tier tier in Tier.GetValues(typeof(Tier)))
    {
        <div class="row">
        
        @foreach (Level level in rundown.GetTier(tier))
        {
            <div class="col">
                <LevelComponent level="level"/>
            </div>
        }
        </div>
    }


</div>

@code {
    [Parameter]
    public Rundown rundown { get; set; }

    int width = 4;
    int height = 5;

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    protected void CreateGrid()
    {

    }

}
