@using GTFOprogress.Models;
@using GTFOprogress.Common;


<div class="card">
    <div class="header">

    </div>
    <div class="levels">
        <div class="row">

        </div>
    </div>


    @for (int i = 1; i <= height; i++)
    {
        <div class="row row-cols-4">
        @for (int j = 1; j <= width; j++)
        {
                <div class="col">
                    @if (rundown.Levels.Any(x => ((int)x.Tier == i) && (x.Stage == j)))
                    {
                        <LevelComponent  />
                    }
                </div>
        }
        </div>
    }

</div>

@code {
    [Parameter]
    public Rundown rundown { get; set; }

    int width = 4;
    int height = 5;

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    protected void CreateGrid()
    {

    }

}
