@using GTFOprogress.Models;
@using GTFOprogress.Common;


<div class="col rundown-card">

    @foreach (Tier tier in Tier.GetValues(typeof(Tier)))
    {
        <div class="row">
        
        @foreach (Level level in rundown.GetTier(tier))
        {
            <div class="row-cols-4 m-2 w-auto">
                <LevelComponent level="level"/>
            </div>
        }
        </div>
    }


</div>

<style>
    .rundown-card {
        margin: 1em;
        border-style: solid;
        border-color: rgba(255, 255, 255, 1);
        border-width: 1px;
        width: 550px;
        height: 302px;
    }
</style>

@code {
    [Parameter]
    public Rundown rundown { get; set; }

    int width = 4;
    int height = 5;

    protected override Task OnInitializedAsync()
    {

        return base.OnInitializedAsync();
    }

    protected void CreateGrid()
    {

    }

}
