@page "/"
@using GTFOprogress.Models
@using GTFOprogress.Common
@using GTFOprogress.Services
@using GTFOprogress.Components

@inject StateHandlerService _stateHandler

<h3>LevelsPage</h3>

@foreach (Rundown rundown in rundowns)
{
    <RundownComponent rundown="rundown"/>
}


@code {
    List<Rundown> rundowns;
    protected override Task OnInitializedAsync()
    {
        rundowns = _stateHandler.GetRundowns();
        return base.OnInitializedAsync();
    }



    public Level getTestLevelData()
    {
        return new Level
            {
                Name = "R2E1",
                Title = "THE TEST",
                Tier = Tier.E,
                Stage = 1,
                Secondary = false,
                Overload = true,
            };
    }
}
